In [1]:
numbers = [1, 3, 5, 7]

In [2]:
3 in numbers  # membership check

True

In [3]:
numbers[-2]

5

In [4]:
len(numbers)  # length

4

In [5]:
numbers2 = [1, 2, 3, 4, [5, 6, 7], 8, 9, 10]

In [6]:
len(numbers2)

8

In [7]:
len(numbers2[4])  # len([5, 6, 7])

3

In [8]:
for i in numbers2:
    print(i)

1
2
3
4
[5, 6, 7]
8
9
10

In [9]:
numbers

[1, 3, 5, 7]

In [10]:
numbers[4]  # IndexError

IndexError: list index out of range

In [11]:
numbers = [1, 3, 5, 7, 5]

In [12]:
numbers[0] = 10  # 지정 인덱스값 변경
numbers

[10, 3, 5, 7, 5]

In [13]:
numbers.append(9)  # 끝에 값 추가
numbers

[10, 3, 5, 7, 5, 9]

In [14]:
pop_number = numbers.pop(3)  # 특정 인덱스값 꺼내기(가져옴과 동시에 제거)
print(pop_number)
numbers

7

[10, 3, 5, 5, 9]

In [15]:
numbers.remove(5)  # 특정 값 1회 제거
numbers

[10, 3, 5, 9]

In [16]:
numbers.insert(1, 11)  # 특정 인덱스에 값 추가
numbers

[10, 11, 3, 5, 9]

### 리스트 합치기

In [17]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list1 + list2

[1, 2, 3, 4, 5, 6]

### 슬라이싱

In [18]:
numbers = [i for i in range(1, 11)]  # List Comprehension
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
numbers[1:-1]

[2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
numbers[:8]

[1, 2, 3, 4, 5, 6, 7, 8]

In [21]:
numbers[0:8:2]  # 인덱스 2씩 증가

[1, 3, 5, 7]

In [22]:
numbers[::2]

[1, 3, 5, 7, 9]

In [23]:
numbers[::-1]  # 역순(reverse)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [24]:
for number in numbers[::-1]:
    print(number)

10
9
8
7
6
5
4
3
2
1

In [25]:
copy_numbers = numbers[:]  # copy
copy_numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
reverse_numbers = numbers[::-1]
reverse_numbers

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### List Comprehension

In [27]:
numbers1 = [1, 3, 5, 7]
numbers2 = [2, 4, 6, 8]

In [28]:
i = 0
result = []
for i in range(len(numbers1)):
    result.append(numbers1[i] + numbers2[i])
result

[3, 7, 11, 15]

In [29]:
[(i+j) for (i, j) in zip(numbers1, numbers2)]

[3, 7, 11, 15]

### Packing / Unpacking

In [30]:
numbers = [i for i in range(1, 11)]  # packing
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [31]:
v1, v2, v3, v4, v5, v6, v7, v8, v9, v10 = numbers  # unpacking
print(v1, v2, v3, v4, v5, v6, v7, v8, v9, v10)

1 2 3 4 5 6 7 8 9 10

In [32]:
v1, v2, v3, v4 = numbers[-4:]
print(v1, v2, v3, v4)

7 8 9 10

In [33]:
*others, v8, v9, v10 = numbers
others

[1, 2, 3, 4, 5, 6, 7]

In [34]:
v1, v2, *others, v9, v10 = numbers
others

[3, 4, 5, 6, 7, 8]

In [35]:
v1, v2, v3, *others = numbers
print(v1, v2, v3)
print(others)

1 2 3
[4, 5, 6, 7, 8, 9, 10]

In [36]:
v1, v2, v3, v4, v5, v6, v7, v8, v9, v10, v11, v12, v13, v14 = (*numbers, 11, 12, 13, 14)
v1, v2, v3, v4, v11, v12, v13, v14

(1, 2, 3, 4, 11, 12, 13, 14)

### Swap

In [37]:
x, y = 1, 2

In [38]:
x, y = y, x

In [39]:
print(x, y)

2 1

#### (참고) 타언어에서의 swap

In [40]:
x = 1
y = 2
temp = x
x = y
y = temp
print(x, y)

2 1

## set
- 집합형
- 중복을 허용하지 않는 데이터의 집합
- list/tuple에서 중복을 제거하고자 할 때, set을 활용하면 유용
- list/tuple과 다르게 추가된 순서를 유지하지 않음
- 합집합, 교집합, 차집합, 여집합 연산 지원

In [41]:
{1, 3, 4, 5, 1, 4, 3, 1}  # {}로 packing

{1, 3, 4, 5}

In [42]:
list_numbers = [1, 1, 2, 1, 1, 2, 2, 3, 1, 2, 3]
set(list_numbers)  # set()

{1, 2, 3}

In [43]:
list(set(list_numbers))

[1, 2, 3]

In [44]:
set_numbers1 = {1, 3, 4, 5, 1, 4, 3, 1}
set_numbers2 = {1, 3, 4, 11, 13, 14, 15, 11, 14, 13, 11}
print(set_numbers1, set_numbers2)

{1, 3, 4, 5} {1, 3, 4, 11, 13, 14, 15}

In [45]:
set_numbers1 - set_numbers2  # 차집합

{5}

In [46]:
set_numbers1 | set_numbers2  # 합집합

{1, 3, 4, 5, 11, 13, 14, 15}

In [47]:
set_numbers1 & set_numbers2  # 교집합

{1, 3, 4}

In [48]:
set_numbers1 ^ set_numbers2  # 여집합

{5, 11, 13, 14, 15}

## dict

In [49]:
dict_values = {'blue': 10, 'yellow': 3, 'blue': 9, 'red': 7}

In [50]:
dict_values['blue']  # key중복을 허용하지 않음.(덮어씀)

9

In [51]:
10 in dict_values  # membership check --> not value

False

In [52]:
'blue' in dict_values  # membership check --> key

True

In [53]:
for key in dict_values:  # key목록 순회
    print(key)

blue
yellow
red

In [54]:
for value in dict_values.values():  # value목록 순회
    print(value)

9
3
7

In [55]:
for (key, value) in dict_values.items():
    print(key, value)

blue 9
yellow 3
red 7

In [56]:
del dict_values['red']  # 삭제
dict_values

{'blue': 9, 'yellow': 3}